* {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Kumar One', cursive;
    box-sizing: border-box;
}

.fn-font {
    font-family: 'Kumar One', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0 auto;

}

.container {}

/*header*/
header h1 {
    margin-left: 20px;
    animation: slid-up;
    animation-duration: 0.5s;
}

header {
    width: 100%;
    height: 110px;
    background-image: linear-gradient(180deg, #d5e2ff, #000000);
    padding: 0 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav {
    width: 600px;
    height: 100%;


}

header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

header nav ul li {
    font-size: 19px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li a {
    position: relative;
    display: block;
    animation: slid-up;
    animation-duration: 0.5s;
}

header nav ul li a:before {
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    background: darkorange;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

header nav ul li a:hover:before {
    width: 100%
}

.related a {
    padding: 10px 20px;
    animation: slid-up;
    animation-duration: 0.5s;
}

/*visual*/
.section input[id*="slide"] {
    display: none;
}

.section .sllidewrap {
    overflow: hidden;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
}

.section .slidelist li a {
    display: block;
    position: relative;

}

.section .slidelist li a img {
    width: 100%;
    height: 460px;
}

.section .slidelist label {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left {
    left: 30px;
    background: url(img/left.png) center center /100% no-repeat;
}

.section .slidelist .right {
    right: 30px;
    background: url(img/right.png) center center /100% no-repeat;
}

.section input[id="slide01"]:checked ~ .sllidewrap .slidelist > li {
    transform: translateX(0%)
}

.section input[id="slide02"]:checked ~ .sllidewrap .slidelist > li {
    transform: translateX(-100%)
}

.section input[id="slide03"]:checked ~ .sllidewrap .slidelist > li {
    transform: translateX(-200%)
}

/*content*/
.content {
    padding: 50px;
}

.content .item {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.content .infomation {
    text-align: center;
    margin-bottom: 30px;
    animation: slid-up;
    animation-duration: 1.5s;
}

.content h2 {
    text-align: center;
    font-size: 40px
}

.content h2:after {
    content: '';
    display: block;
    border-bottom: 3px solid rgba(46, 80, 157, 0.37);
    width: 15%;
    margin: 0 auto;

}

.content .Nitem {
    width: 25%;
    padding: 60px 40px
}

.content .Nitem span {
    border-bottom: 1px solid #333;

}

.content .img {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;

}

.content .img:hover {
    animation: slid-up2;
    animation-duration: 1s;
}

.btn {
    margin: 20px 0;
    padding: 10px 30px;
    color: white;
    background: #3b3b3b
}

.btn:hover {
    background-color: #989898;
    transition: 1s;
}

/*Latest*/
.Latest {
    margin: 10px 130px;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;

}

h3:after {
    content: '';
    display: flex;
    border-bottom: 3px solid rgba(46, 80, 157, 0.37);
    width: 15%;
    margin: 0 auto;
}

.Latest a {
    display: block;
    width: auto;
    color: #333;
    margin: 5px 5px 10px 5px;
    
}

a .screen {
    position: relative;
    overflow: hidden;
    padding-bottom: 600px;
    display: block;
}

a .screen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    height: 600px;
    transition: transform 1.5s;
        
}
a .screen img:hover{
    transform: translate(-50%,-50%) scale(1.1)
}
a .screen p{
    position: absolute;
    z-index: 10;
    text-align: center;
    background-color: rgba(48, 208, 198, 0.76);
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
    padding: 70px;
    width: 100%;
}
a .screen span {
    display: block;
    position: absolute;
    transition: all .2s;
    background:linear-gradient(90deg, skyblue, yellow);
    z-index: 2;
}

a .screen span:nth-child(1) {
    top: 0;
    height: 15px;
    width: 0;
}

a .screen span:nth-child(2) {
    top: 0;
    right: 0;
    width: 15px;
    height: 0;
}

a .screen span:nth-child(3) {
    bottom: 0;
    right: 0;
    height: 15px;
    width: 0;
}

a .screen span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 15px;
    height: 0;
}

a:hover .screen span:nth-child(1) {
    width: 100%;
}

a:hover .screen span:nth-child(2) {
    height: 100%;
    transition-delay: .1s;
}

a:hover .screen span:nth-child(3) {
    width: 100%;
    transition-delay: .2s;
}

a:hover .screen span:nth-child(4) {
    height: 100%;
    transition-delay: .3s;
}

/*fooer*/
footer {
    margin-top: 80px;
    width: 100%;
    background-color: #000;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

footer * {
    color: white;
    margin-left: 20px;
    line-height: 3;

}

footer h4 {
    padding: 50px
}

footer p {
    display: flex;
    font-size: 12px;
    color: #919191;


}

footer img {
    width: 100px;
    float: right;
    margin-right: 50px;

}

.more a {
    display: block;
    position: relative;
}

.more a:before {
    content: '';
    position: absolute;
    width: 40%;
    height: 4px;
    background: darkorange;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.more a:hover:before {
    width: 0
}

@keyframes slid-up {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes slid-up2 {

    /*   0% {opacity: 0;}*/
    40% {
        transform: translateY(-40px);
    }
}
